.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid red;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid green;
}
