@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Megrim&display=swap");

.navbar {
  font-family: "Megrim", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 15px;
}
