.grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "container  container "
    "footer footer";
}
.navbar {
  grid-area: navbar;
}

.container {
  grid-area: container;
}

.footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navbar"
      "container"
      "footer";
  }

  .container {
    flex-direction: column;
  }

  .selector {
    flex-direction: column;
    align-items: center;
  }
}
