.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.select {
  padding: 8px 12px;
  border: 1px solid darkcyan;
  border-radius: 4px;
  font-size: 12px;
}

.Icons {
  background-color: red;
  color: yellow;
}
